.ag-theme-alpine .ag-header-cell,
.ag-theme-alpine .ag-header-group-cell {
    padding-left: 0px !important;
    padding-right: 0 !important;
}

.ag-theme-balham {
    --ag-font-size: 14px !important;
    font-size: 12px !important;
    --ag-header-foreground-color: #000 !important;
    --ag-grid-size: 10px !important;
    .ag-header {
        background-color: var(--primary-900);
    }
    .ag-header-row {
        color: #fff;
    }
    input[class^=ag-] {
        // background-color: var(--primary-900);
        color: #000;
    }
    .ag-header-row-column-filter {
        background-color: #FFF;
        color: #000;
    }
    .ag-header-group-cell-label {
        justify-content: center;
    }
}

.ag-unselectable {
    user-select: text !important;
}