.informacionFacturaContainer{
    padding: 15px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-column-gap: 10px;
    grid-row-gap: 25px;
    .p-inputtext {
        width: 100%;
    }
    .p-float-label {
        width: 100%
    }
    small {
        font-size: 12px;
        color: #999;
        // left: 10px;
        width: 100%;
        position: absolute;
        z-index: 100;
        bottom: -20px;
    }
    .p-float-label {
        margin-top: 15px;
    }
    span {
        font-weight: bold;
        font-size: 13px;
        label{
            font-weight:normal
        }
    }
}

.cardContenedorFacturas{
    background: #F7FCFF;
    margin-bottom: 0.5%;
    width: 450px !important;
    div .card-header{
        background: 3CEF2FA;
    }
    
}

.informacionFacturasDetailsContainer{
    // padding: 15px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 2px;
    margin-left: 10px;
}

.contenedorClientesFactura{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1px;
    grid-row-gap: 2px;
}
.spanNombresGeneral{
    font-weight: bold;
}

.spanNombres{
    font-weight: bold;
}

.totalesFactura{
    display: flex;
    flex-direction: row;
    span{
        font-weight: bold;
        font-size: 13px;
        margin-left: 5px;
    }
}

.InformacionTipoFactura{
    // span{
    //     margin-left: 30px;
    //     align-items: flex-end;
    // }
}